<!DOCTYPE html>
<html>
	<head>
	<style>
	
	.rectangle {
  	display: inline-block;
  	border: 1px solid #ff0000;
  	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 10px;
  	padding: 10px;
	background-color: #f0f0f0;
	font-size: 50px;
	}
	</style>
		<title>JoSAA</title>
	</head>
	<body style = "background-color:lightgrey ; ">
		<h1 style = "color:blue;background-color:lightblue;">Welcome</h1>
		<hr/>
		<p><h2> Here we analyse the Cutoff and ORCR for JoSAA Councelling </h2></p>
		
		
		<div class="rectangle"> IIT
			<div> <a href="#">----></a> </div>
		</div>
		<div class="rectangle"> IIIT
				<div> <a href="#">----></a> </div>
		</div>
		<div class="rectangle"> NIT
				<div> <a href="#">----></a> </div>
		</div>
		<div class="rectangle"> JNU
				<div> <a href="#">----></a> </div>
		</div>
		<div class="rectangle"> Local University
				<div> <a href="#">----></a> </div>
		</div>
		
		
		
		
	</body>
</html>