<!DOCTYPE html>
<html>
<head>
<style>
.rectangle {
    display: inline-block;
    border: 1px solid #ff0000;
    margin-bottom: 10px;
    margin-right: 70px;
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 30px;
    text-align: center;
    width: 200px;
}

.padding-example {
    padding-left: 170px;
    padding-right: 100px;
}

.dropdown {
    height: 25px;
    width: 200px;
    font-size: 20px;
}
</style>
<title>JoSAA</title>
<script>


function showInstituteDropdown(roundDropdown) {
    
    const round = roundDropdown.value;
    
    var instituteDropdown = document.getElementById("instituteDropdown");
    var institute = document.getElementById("institute");

    if (roundDropdown.value !== "") {
        instituteDropdown.style.display = "inline-block";
    } else {
        instituteDropdown.style.display = "none";
    }
    institute.innerHTML = "";
    var option = document.createElement("option");
    option.value = "";
    option.text = "Select Program";
    option.style.fontSize = '20px';
    institute.appendChild(option);
    
      const xhr = new XMLHttpRequest();
      const url = `/get-roundwise-institute/?round=${round}`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              const responseData = JSON.parse(xhr.responseText);
              
              for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Institute'];
                option.text = responseData[i]['Institute'];
                option.style.fontSize = '20px';
                institute.appendChild(option);
              }
              
              
          }
      };
      xhr.send();
}

function showProgramnameDropdown(programtypeDropdown) {
    const iit = programtypeDropdown.value;
    var programnameDropdown = document.getElementById("programname");
    var disp = document.getElementById("programnameDropdown");
    const Round = document.getElementById('round');
    const round = Round.value;
    if (programtypeDropdown.value !== "") {
        disp.style.display = "inline-block";
    } else {
        disp.style.display = "none";
    }
    
        programnameDropdown.innerHTML = "";
        var option = document.createElement("option");
        option.value = "";
        option.text = "Select Program";
        option.style.fontSize = '20px';
        programnameDropdown.appendChild(option);
        
      const xhr = new XMLHttpRequest();
      const url = `/get-roundwise-name/?iit=${iit}&round=${round}`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              const responseData = JSON.parse(xhr.responseText);
              
              for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Program_name'];
                option.text = responseData[i]['Program_name'];
                option.style.fontSize = '20px';
                programnameDropdown.appendChild(option);
              }
              
              
          }
      };
      xhr.send();
  }

function showProgramtypeDropdown(prog_nameDropdown) {
    const prog_name = prog_nameDropdown.value;
    const Round = document.getElementById('round');
    const IIT = document.getElementById('institute');
    const round = Round.value;
    const iit = IIT.value;
    
    var programtypeDropdown = document.getElementById("programtype");
    var disp = document.getElementById("programtypeDropdown");

    if (prog_nameDropdown.value !== "") {
        disp.style.display = "inline-block";
    } else {
        disp.style.display = "none";
    }

    programtypeDropdown.innerHTML = "";
    var option = document.createElement("option");
    option.value = "";
    option.text = "Select Program";
    option.style.fontSize = '20px';
    programtype.appendChild(option);
    
      const xhr = new XMLHttpRequest();
      const url = `/get-roundwise-type/?prog_name=${prog_name}&round=${round}&iit=${iit}`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              const responseData = JSON.parse(xhr.responseText);
              
              for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Program_type'];
                option.text = responseData[i]['Program_type'];
                option.style.fontSize = '20px';
                programtypeDropdown.appendChild(option);
              }
              
              
          }
      };
      xhr.send();
}

</script>
</head>
<body style="background-color: lightgrey;">
<h1 style="color: blue; background-color: lightblue;">Welcome</h1>
<hr/>
<p><h2>Here we analyze Round wise trend for every year</h2></p>

<div class="padding-example">
    
    <div class="rectangle">
    
        <label for="round">Round</label>
        <br>
        <div class="selectBox">
        <select id="round" name="Round" class="dropdown" onchange="showInstituteDropdown(this)">
            <option value="">Select a round</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        </div>
    </div>


    <div class="rectangle" id="instituteDropdown" style="display: none;">
        <label for="institute">Institute</label>
        <br>
        <select id="institute" name="Institute" class="dropdown" onchange="showProgramnameDropdown(this)">
            
        </select>
    </div>
    
    <div class="rectangle" id="programnameDropdown" style="display: none;">
        <label for="programname">Program Name</label>
        <br>
        <select id="programname" name="Programname" class="dropdown" onchange="showProgramtypeDropdown(this)">
          
        </select>

    </div>
    
    
    
    <div class="rectangle" id="programtypeDropdown" style="display: none;">
        <label for="programtype">Program Type</label>
        <br>
        <select id="programtype" name="Programtype" class="dropdown" >
            
           
        </select>
    </div>
    
    
    
    <div>
      <canvas id="myChart" width="300" height="450"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js" integrity="sha512-M7nHCiNUOwFt6Us3r8alutZLm9qMt4s9951uo8jqO4UwJ1hziseL6O3ndFyigx6+LREfZqnhHxYjKRJ8ZQ69DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    
    <script>
      
      let myChart = null;
      
      
      const Round = document.getElementById('round');
      const IIT = document.getElementById('institute');
      const Prog_name = document.getElementById('programname');
      const Prog = document.getElementById('programtype');
      Prog.addEventListener('change',selection);
      function selection() {
          const R_val = Round.value;
          const IIT_val = IIT.value;
          const prog_val = Prog.value;
          const prog_name = Prog_name.value;
          updateGraph(R_val,IIT_val,prog_name,prog_val);
          
        };
        
        
        function updateGraph(round, iit,programname,programtype) {
            
            const xhr = new XMLHttpRequest();
            const url = `/get-graph-data-roundwise/?round=${round}&iit=${iit}&programname=${programname}&programtype=${programtype}`;
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    const responseData = JSON.parse(xhr.responseText);
                    renderGraph(responseData);
                }
            };
            xhr.send();
        }
        
        function renderGraph(data) {
        
            
            const labels = []; // Array to store labels
            const values = []; 
            
        
            // Extract labels and values from the data
            for (const item of data) {
                labels.push(item.Year);
                values.push(item.Closing_rank);
            }
            
            
            // Create a Chart.js line chart
               const ctx = document.getElementById('myChart').getContext('2d');
               
               if (myChart != null){
                   myChart.destroy();
               }
               
               myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                     labels: labels,
                     datasets: [{
                        label: 'Closing Rank',
                        data: values,
                        borderColor: 'blue',
                        fill: false
                        
                     }]
                  },
                  options: {
                     responsive: true,
                     maintainAspectRatio: false,
                     scales: {
                        x: {
                           display: true,
                           title: {
                              display: true,
                              text: 'Year',
                              font:{
                                  size: 18
                              }
                            },
                            ticks:{
                                font:{
                                    size: 14
                                }
                            }
                        },
                        y: {
                           display: true,
                           title: {
                              display: true,
                              text: 'Closing Rank',
                              font:{
                                  size: 18
                              }
                            },
                            ticks:{
                                font:{
                                    size: 14
                                }
                            }
                        }
                     },
                     plugins: {
                        legend: {
                           display: true,
                           labels: {
                              font: {
                                 size: 18
                              }
                           }
                        }
                     },
                     layout: {
                        padding: {
                           top: 20,
                           right: 20,
                           bottom: 20,
                           left: 20
                        }
                     }
                  }
                  
            
               });

        }



    </script>
</div>

</body>
</html>
